<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href=""> <b>Panel ThroneBot</b> Versión 1.0.0-beta</a>
  </div>
  <strong
    >Este sitio web utiliza <a href="https://adminlte.io">AdminLTE</a> y <a href="https://boostrap.com">Bootstrap</a>. Hecha
    con el <i class="fa fa-heart"></i> por <a target="_blank" href="https://github.com/VirtualOx-sys">VirtualOx</a>.</strong
  >
</footer>
